## Установим библиотеку для загрузки данных:

In [59]:
%pip install ucimlrepo

Requirement already satisfied: ucimlrepo in c:\users\filic\.conda\envs\pythorch\lib\site-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in c:\users\filic\.conda\envs\pythorch\lib\site-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in c:\users\filic\.conda\envs\pythorch\lib\site-packages (from ucimlrepo) (2024.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\filic\.conda\envs\pythorch\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\filic\.conda\envs\pythorch\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\filic\.conda\envs\pythorch\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\filic\.conda\envs\pythorch\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\filic\.conda\envs\pythorch\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

"DOSKEY" �� ���� ����७��� ��� ���譥�
��������, �ᯮ��塞�� �ணࠬ��� ��� ������ 䠩���.

## Загрузим датасет:

In [60]:
from ucimlrepo import fetch_ucirepo 
import pandas as pd
  
# fetch dataset 
adult = fetch_ucirepo(id=2) 
  
# data (as pandas dataframes) 
x = adult.data.features 
y = adult.data.targets

In [61]:
dataset = pd.merge(x, y, left_index=True, right_index=True)

## Наш датасет:

In [62]:
dataset

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K.
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

## Число чтолбцов в наборе:

In [63]:
len(dataset.columns)

15

## Проверим пропуски:

In [64]:
dataset.isnull().sum()

age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
income              0
dtype: int64

## Количество уникальных значеений race:

In [65]:
dataset['race'].nunique()

5

## Медиана hours-per-week:

In [66]:
dataset['hours-per-week'].median()

40.0

## Кого больше - женщин или мужчин с ЗП >50K:

In [71]:
if dataset.query('sex=="Male" & income==">50K"').sex.count() > dataset.query('sex=="Female" & income==">50K"').sex.count():
    print('Мужщин')
elif dataset.query('sex=="Male" & income==">50K"').sex.count() == dataset.query('sex=="Female" & income==">50K"').sex.count() :
    print('Поровну')
else:
    print('Женщин')

Мужщин

## Заполним пропущенные данные в отдельных столбцах наиболее встречаемыми значениями:

In [72]:
dataset_red = dataset.fillna(dataset.mode().iloc[0])
dataset_red.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

## Так же пропуски можно заполнить:
- Средним значением: dataset.fillna(dataset.mean())
- Любым простым числом: dataset.fillna(тут число)
и т.д.